



<form action="/upload/POST" method="post" enctype="multipart/form-data">
    <h2>多图上传</h2>
    <input type="file" name="picture">
    <input type="file" name="picture">
    <input type="input" name="name">
    <input type="input" name = "Shop">
    <input type="submit" value="提交">
</form>